<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Özel Giriş Sayfası</title>
    <style>
        .failed{
            color:red;

        }
    </style>
</head>
<body>
    <h3>Özel Giriş Sayfası</h3>

    <form action="#" th:action="@{/authenticateTheUser}" method="POST">

        <!-- Hatalı İşlem de Hata Mesajı -->

        <div th:if="${param.error}">

            <i class="failed">Hatalı İşlem. Kullanıcı Adı veya Hatalı Şifre </i>
        </div>

        <p>
            Kullanıcı Adı: <input type="text" name="username"/>
        </p>

        <p>
            Şifre: <input type="password" name="password" />
        </p>

        <input type="submit" value="Giriş Yap" />
    </form>
</body>
</html>