

<form action="/search" method="post">
    <label for="value">Search:</label>
    <input type="text" name="value">
    <input type="hidden" name="{{_csrf.parameterName}}"
           value="{{_csrf.token}}">
    <button type="submit">Search</button>
</form>


<form action="/new-video" method="post">
    <input type="text" name="name">
    <input type="text" name="description">
    <input type="hidden" name="{{_csrf.parameterName}}"
           value="{{_csrf.token}}">
    <button type="submit">Submit</button>
</form>